<!DOCTYPE html>
<html>
<head>
  <title>AdHonorem</title>
  <%= stylesheet_link_tag    "adhonorem/application", media: "all" %>
  <%= javascript_include_tag "adhonorem/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
